{{ template "header.html" . }}

{{ $ports := .ports }}
{{ $boxes := .boxes }}
{{ $users := .users }}
{{ $config := .config }}

<button style="z-index:0;top:3rem;" class="float-start sticky-top btn btn-lg btn-outline-primary mt-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBoxList" aria-controls="offcanvasBoxList" title="Open menu"><i class="fa-solid fa-square-poll-horizontal"></i></button>

<div class="mt-4 container">
    <div class="row">
        <div class="hstack gap-2 w-auto mb-4" id="box-tabs">
            
        </div>
    </div>
    <div class="row">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-default" role="tabpanel" aria-labelledby="v-pills-default-tab" tabindex="0">
                No box selected.
            </div>
            {{ range $box := $boxes }}
            {{ $claimUser := index $users $box.ClaimerID }}
            <div class="tab-pane fade" id="v-pills-{{ $box.ID }}" role="tabpanel" aria-labelledby="v-pills-{{ $box.ID }}-tab" tabindex="0">
                <div class="bg-light-subtle border border-light-subtle rounded-2 p-4 h-100">
                    <h1>{{ $box.IP }}{{ if $box.Hostname }} <hr class="vr mx-2 my-0"> {{ $box.Hostname}}{{ end }}</h1>
                    <div class="row">
                        <div class="col col-lg-8">
                            <table class="table border border-light-subtle">
                                <tr>
                                    <th>IP</th>
                                    <td>{{ $box.IP }}</td>
                                </tr>
                                <tr>
                                    <th>Hostname</th>
                                    <td>{{ $box.Hostname }}</td>
                                </tr>
                                <tr>
                                    <th>Ports</th>
                                    <td>
                                        {{ $boxPorts := index $ports $box.ID }}
                                        {{ range $port := $boxPorts }}
                                        <div>
                                            {{ $port.Port }}/{{ $port.Protocol }}
                                        </div>
                                        {{ end }}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="w-100 m-0 d-lg-none d-block"></div>
                        <div class="col">
                            <div class="d-flex flex-column gap-4">
                                <div class="row gx-0">
                                    <ul id="box-details-{{ $box.ID }}" class="list-group list-group-flush border">
                                        <li class="list-group-item fs-2 d-flex flex-row align-items-center">
                                            <i class="fa-fw fa-regular fa-user"></i>
                                            <div class="ms-4">
                                                <div class="fs-6">User Shells</div>
                                                <div id="box-details-usershells-{{ $box.ID }}">{{ $box.Usershells }}</div>
                                            </div>
                                        </li>
                                        <li class="list-group-item fs-2 d-flex flex-row align-items-center">
                                            <i class="fa-fw fa-solid fa-skull-crossbones"></i>
                                            <div class="ms-4">
                                                <div class="fs-6">Root Shells</div>
                                                <div id="box-details-rootshells-{{ $box.ID }}">{{ $box.Rootshells }}</div>
                                            </div>
                                        </li>
                                        <li class="list-group-item fs-2 d-flex flex-row align-items-center">
                                            <i class="fa-fw fa-solid fa-street-view"></i>
                                            <div class="ms-4">
                                                <div class="fs-6">Claim</div>
                                                <div id="box-details-claim-{{ $box.ID }}">{{ if ne $box.ClaimerID 0 }}{{ $claimUser.Name }}{{ else }}Unclaimed{{ end }}</div>
                                            </div>
                                        </li>
                                    </ul>
                                    <a type="button" class="btn btn-link w-auto link-underline link-underline-opacity-0 link-underline-opacity-100-hover" data-bs-toggle="modal" data-bs-target="#box-details-edit-{{ $box.ID }}">
                                        Edit...
                                    </a>
                                </div>

                                <div class="modal fade" id="box-details-edit-{{ $box.ID }}" tabindex="-1" aria-labelledby="box-details-edit-{{ $box.ID }}Label" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="box-details-edit-{{ $box.ID }}Label">Edit Box Details</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form onsubmit="return editBoxDetails(event, '{{ $box.ID }}')" id="box-details-edit-form-{{ $box.ID }}">
                                                    <div class="row">
                                                        <div class="col input-group mb-3">
                                                            <span class="input-group-text" id="usershell-addon-{{ $box.ID }}">User Shells</span>
                                                            <input value="{{ $box.Usershells }}" name="usershells" type="numeric" class="form-control" placeholder="0" aria-label="User shells" aria-describedby="usershell-addon-{{ $box.ID }}">
                                                        </div>
                                                        <div class="col input-group mb-3">
                                                            <span class="input-group-text" id="rootshell-addon-{{ $box.ID }}">Root Shells</span>
                                                            <input value="{{ $box.Rootshells }}" name="rootshells" type="numeric" class="form-control" placeholder="0" aria-label="Root shells" aria-describedby="rootshell-addon-{{ $box.ID }}">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="col input-group mb-3">
                                                                <span class="input-group-text" id="claim-addon-{{ $box.ID }}">Claim</span>
                                                                <select name="claim" class="form-select" aria-label="Assign a claim">
                                                                    <option value="0" {{ if eq $box.ClaimerID 0}}selected{{ end }}>Unclaimed</option>
                                                                    {{ range $user := $users }}
                                                                    <option value="{{ $user.ID }}" {{ if and (ne $box.ClaimerID 0) (eq $user.ID $box.ClaimerID) }}selected{{ end }}>{{ $user.Name}}</option>
                                                                    {{ end }}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary" form="box-details-edit-form-{{ $box.ID }}">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="accordion" id="accordionNote-{{ $box.ID }}">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNote-{{ $box.ID }}" aria-expanded="true" aria-controls="collapseNote-{{ $box.ID }}">
                                        Notes
                                        </button>
                                    </h2>
                                    <div id="collapseNote-{{ $box.ID }}" class="accordion-collapse collapse" data-bs-parent="#accordionNote-{{ $box.ID }}">
                                        <div id="box-note-rendered-{{ $box.ID }}" class="accordion-body">
                                            <div>
                                                {{ if gt (len $box.Note) 0 }}{{ $box.Note | markdown }}{{ else }}No notes yet.{{ end }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a type="button" class="btn btn-link w-auto link-underline link-underline-opacity-0 link-underline-opacity-100-hover" data-bs-toggle="modal" data-bs-target="#box-note-edit-{{ $box.ID }}">
                                Edit...
                            </a>
                        </div>
                        
                        <div class="modal fade" id="box-note-edit-{{ $box.ID }}" tabindex="-1" aria-labelledby="box-note-edit-{{ $box.ID }}Label" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="box-note-edit-{{ $box.ID }}Label">Edit Box Notes</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form onsubmit="return editBoxNote(event, '{{ $box.ID }}')" id="box-note-edit-form-{{ $box.ID }}">
                                            <textarea rows="20" name="note" class="form-control" placeholder="Write box notes here (supports markdown)"></textarea>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary" form="box-note-edit-form-{{ $box.ID }}">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div> 
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasBoxList" aria-labelledby="offcanvasBoxListLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasBoxListLabel">Actions</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="hstack gap-2 w-auto mb-4">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#uploadNmapModal">
            Upload NMAP XML
        </button>
        <div class="vr"></div>
        
    </div>
    <h5 class="mb-4">Filters</h5>
    <div class="hstack gap-2 w-auto mb-4" id="filter-radios">
        <input type="radio" class="btn-check" name="all-filter" id="all-boxes" value="all" autocomplete="off" checked>
        <label class="btn btn-primary rounded-pill" for="all-boxes">All Boxes</label>
        <div class="vr"></div>
        
        <input type="radio" class="btn-check" name="claim-filter" id="claimed" value="claimed" autocomplete="off">
        <label class="btn btn-primary rounded-pill" for="claimed">All Claimed Boxes</label>

        <input type="radio" class="btn-check" name="claim-filter" id="yours" value="yours" autocomplete="off">
        <label class="btn btn-primary rounded-pill" for="yours">My Claimed Boxes</label>

        <input type="radio" class="btn-check" name="claim-filter" id="unclaimed" value="unclaimed" autocomplete="off">
        <label class="btn btn-primary rounded-pill" for="unclaimed">Unclaimed Boxes</label>
        <div class="vr"></div>


        <input type="radio" class="btn-check" name="pwn-filter" id="unpwned" value="unpwned" autocomplete="off">
        <label class="btn btn-primary rounded-pill" for="unpwned">Unpwned Boxes</label>
        
        <input type="radio" class="btn-check" name="pwn-filter" id="pwned" value="pwned" autocomplete="off">
        <label class="btn btn-primary rounded-pill" for="pwned">Pwned Boxes</label>
    </div>
    {{ if ne (len $boxes) 0 }}
    <h5 class="mb-4">Boxes</h5>
    <div class="list-group list-group-flush" id="box-bar">
        {{ range $box := $boxes }}
        <button class="list-group-item list-group-item-action" id="v-pills-{{ $box.ID }}-tab" data-claim="{{ if ne $box.ClaimerID 0}}{{ $claimer := index $users $box.ClaimerID }}{{ $claimer.Name }}{{ else }}unclaimed{{ end }}" data-pwned="{{ or (gt $box.Usershells 0 ) (gt $box.Rootshells 0 ) }}" data-bs-toggle="pill" data-bs-target="#v-pills-{{ $box.ID }}" type="button" role="tab" aria-controls="v-pills-{{ $box.ID }}" aria-selected="true">
            {{ $box.IP }}{{ if $box.Hostname }} <hr class="vr mx-2 my-0"> {{ $box.Hostname}}{{ end }}
        </button>
        {{ end }}
    </div>
    {{ else }}
    <p>Nothing to show right now. Upload NMAP results to view.</p>
    {{ end }}
  </div>
</div>

<div class="modal fade" id="uploadNmapModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="uploadNmapModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="uploadNmapModalLabel">Upload NMAP XML</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="box-upload-form" method="POST" enctype="multipart/form-data" onsubmit="uploadNmap(event)">
                <div class="mb-3">
                    <label for="formFileMultiple" class="form-label">NMAP XML File</label>
                    <input type="file" class="form-control" name="files" id="formFileMultiple" multiple required aria-required="true">
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" form="box-upload-form">Upload</button>
        </div>
      </div>
    </div>
</div>  

<script>
    const allRadio      = document.getElementById('all-boxes');
    const claimRadio    = document.querySelectorAll('input[name="claim-filter"]');
    const pwnRadio      = document.querySelectorAll('input[name="pwn-filter"]');

    claimRadio.forEach(radio => {
        radio.addEventListener('change', () => {
            if (radio.checked) {
                allRadio.checked = false;
            }
        })
    });

    pwnRadio.forEach(radio => {
        radio.addEventListener('change', () => {
            if (radio.checked) {
                allRadio.checked = false;
            }
        })
    });

    allRadio.addEventListener('click', () => {
        claimRadio.forEach(radio => {
            radio.checked = false;
        });
        pwnRadio.forEach(radio => {
            radio.checked = false;
        });
    });

    const allClaimedRadio = document.getElementById('claimed');
    const yourClaimedRadio = document.getElementById('yours');
    const unClaimedRadio = document.getElementById('unclaimed');
    const pwnedRadio = document.getElementById('pwned');
    const unpwnedRadio = document.getElementById('unpwned');

    const radioBar  = document.getElementById('filter-radios');
    const boxes     = document.querySelectorAll('#box-bar .list-group-item-action');

    radioBar.addEventListener('click', (event) => {
        if(event.target && event.target.matches("input[type='radio']")) {
            let boxcount = 0;

            boxes.forEach((box) => {

                let claimBool = false;
                let pwnBool = false;
                
                if ((allClaimedRadio.checked && box.getAttribute('data-claim') != "unclaimed") || 
                    (yourClaimedRadio.checked && box.getAttribute('data-claim') == '{{ .user.Name }}') ||
                    (unClaimedRadio.checked && box.getAttribute('data-claim') == "unclaimed") ||
                    (!allClaimedRadio.checked && !yourClaimedRadio.checked && !unClaimedRadio.checked)) {
                    claimBool = true;
                } 
                if ((pwnedRadio.checked && box.getAttribute('data-pwned') == "true") ||
                    (unpwnedRadio.checked && box.getAttribute('data-pwned') == "false") ||
                    (!pwnedRadio.checked && !unpwnedRadio.checked)) {
                    pwnBool = true;
                }
                if((claimBool && pwnBool) || event.target.matches('#all-boxes')) {
                    box.style.display = "block";
                    boxcount++;
                } else {
                    box.style.display = "none";
                }
            })
            // document.getElementById('result-header').textContent = 'Showing ' + boxcount + '/{{ len .boxes }} boxes'
        }
    })

    const boxBar  = document.getElementById('box-bar');
    const defaultPane  = document.getElementById('v-pills-default');


    boxBar.addEventListener('click', (event) => {
        if(event.target && event.target.matches(".list-group-item-action")) {
            defaultPane.style.display = "none";
        }
    })

    function editBoxNote(e, id) {
        formid = "box-note-edit-form-"+id;
        url = "/boxes/edit/note/"+id;

        const form = document.forms[formid]
        data = {
            note: form.note.value,
        }

        success_function = function (response){
            const modal = bootstrap.Modal.getInstance(document.getElementById('box-note-edit-'+id))

            createToast(response.message, "bg-success")
            modal.hide()
        }

        postAjax(e, formid, data, url, success_function)
    }

    function editBoxDetails(e, id) {
        formid = "box-details-edit-form-"+id;
        url = "/boxes/edit/details/"+id;

        const form = document.forms[formid]
        data = {
            usershells: form.usershells.value,
            rootshells: form.rootshells.value,
            claim: form.claim.value,
        }

        success_function = function (response){
            const modal = bootstrap.Modal.getInstance(document.getElementById('box-details-edit-'+id))

            createToast(response.message, "bg-success")
            modal.hide()
            document.getElementById('box-details-usershells-'+id).textContent = form.usershells.value
            document.getElementById('box-details-rootshells-'+id).textContent = form.rootshells.value
            document.getElementById('box-details-claim-'+id).textContent = form.claim.options[form.claim.options.selectedIndex].textContent
        }

        postAjax(e, formid, data, url, success_function)
    }

    function uploadNmap(e) {
        formid = "box-upload-form";
        url = "/boxes/upload";

        const form = document.forms[formid]
        
        data = new FormData()
        for (const file of form.files.files) {
            data.append("files", file)
        }

        success_function = function (response){
            const modal = bootstrap.Modal.getInstance(document.getElementById('uploadNmapModal'))

            createToast(response.message, "bg-success")
            modal.hide()
        }

        postAjax(e, formid, data, url, success_function)
    }
</script>

{{ template "error.html" .error }}

{{ template "footer.html" }}