<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <!-- Metadata and resources
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <title>SUGMANATS{{ if .user }} • {{ .operation }} - {{ .title }}{{ end }}</title>
    <link rel="stylesheet" href="/assets/bootstrap5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/fontawesome/css/all.min.css">
    <link rel="icon" type="image/ico" href="/assets/favicon.ico"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/assets/bootstrap5/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/custom.js"></script>
</head>

<body>
  {{ if .user.IsValid }}
    <nav class="navbar navbar-expand-sm bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand">SUGMANATS</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-lg-0">
              <li class="nav-item">
                <a class="nav-link {{if eq .title "Dashboard"}}active{{end}}" aria-current="page" href="/dashboard"><i class="fa-fw fa-solid fa-weight-scale"></i></i> Dashboard</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {{if or (eq .title "Boxes") (eq .title "Credentials")}}active{{end}}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-fw fa-solid fa-warehouse"></i> Inventory
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/boxes"><i class="fa-fw fa-solid fa-boxes-stacked"></i> Boxes</a></li>
                  <li><a class="dropdown-item" href="/credentials"><i class="fa-fw fa-regular fa-id-card"></i> Credentials</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/boxes/export"> Export Boxes</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {{if or (eq .title "Team Tasks") (eq .title "My Tasks")}}active{{end}}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-fw fa-solid fa-clipboard-list"></i> Tasks
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#"><i class="fa-fw fa-solid fa-people-group"></i> Team Tasks</a></li>
                  <li><a class="dropdown-item" href="#"><i class="fa-fw fa-solid fa-user-pen"></i> My Tasks</a></li>
                </ul>
              </li>
            </ul> 
            <ul class="navbar-nav ml-auto mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {{if or (eq .title "Settings") (eq .title "About")}}active{{end}}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-solid fa-user"></i> {{ .user.Name }}
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li><a class="dropdown-item" href="#"><i class="fa-fw fa-solid fa-user-gear"></i> Settings</a></li>
                  <li><a class="dropdown-item" href="/about"><i class="fa-fw fa-solid fa-circle-info"></i> About</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/logout"><i class="fa-fw fa-solid fa-door-open"></i> Logout</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  {{ end }}