{{ template "header.html" . }}
<div class="container-fluid gradient-background">
    <div class="row justify-content-center align-items-center vh-100">
        <form style="max-width: 500px;" class="rounded-2 overflow-hidden shadow-lg p-0" method="POST" action="/login" data-bs-theme="light">
            <div class="bg-light p-4">
                <h1 class="text-center text-dark">SUGMANATS</h1>
                <p class="text-dark"><b>New users:</b> If you don't have an account, ask the server host to add an account for you.</p>
                <div class="input-group mb-3">
                    <span class="input-group-text rounded-0"><i class="fa-solid fa-user"></i></i></span>
                    <input class="form-control rounded-0" type="text" name="username" placeholder="Username"></input>
                </div>
                <div class="input-group">
                    <span class="input-group-text rounded-0"><i class="fa-solid fa-lock"></i></span>
                    <input class="form-control rounded-0" type="password" name="password" placeholder="Password"></input>
                </div>
            </div>
            
            <button class="bottom-btn bg-primary" type="submit" value="LOGIN"><span>LOG IN
                <i class="fa-solid fa-chevron-right"></i>
            </button>
        </form>
    </div>
</div>

{{ template "error.html" .error }}

{{ template "footer.html" }}